.jumbotron{
    background-color:#006DDF !important;
}


.jumbotron a{
    color: #FFFFFF;
    font-size: 50px;
}

.jumbotron a:hover{
    color: #FFE627;
    text-decoration: none;
}


.jumbotron button{
    background-color: #FFE627;
}

#join-us-scout-night-title{
    padding-bottom: 10px;
}

hr { 
    background: url("images/trees.svg") no-repeat top center;
    background-size: contain;
    display: block;
    height: 25px;
    border: 0;
    position: relative;
}

hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    background:silver;
    height: 2px;
    top: 8px;
}
hr:before {
    left: 0;
    right: 55%;
    margin-right: 10px;
}
hr:after {
    right: 0;
    left: 55%;
    margin-left: 10px;
}

.card-img-bottom {
    overflow: hidden;
} 



/* The hero image */
.hero-image {
    /* Set a specific height */
    height: 400px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

button:before {
    content: '->';
    position: absolute;
    opacity: 0;  
    /* top: 14px; */
    right: -70px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:20px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }



  /* Testing */
.responsive {
    width: 100%;
    height: auto;
  }

section.content-block {
    margin: 30px 0;
}

.card-content{
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;  
    background-color: #F2EDE7
    
}


.card-content main { 
    padding: 10%;
    background-color: #F2EDE7;
 }