/* .navbar .nav-item a{
    color:#55B8EF !important;
}

.navbar{
     background-color:#DBE4EE;  
}

.navbar .nav-item a:hover{
    background-color:#55B8EF !important;
    color: #FFFFFF !important;
} */

h1{
    color: #006DDF !important;
}

#join-us-scout-night-title{
    padding-bottom: 10px;
}

hr { 
    background: url("images/trees.svg") no-repeat top center;
    background-size: contain;
    display: block;
    height: 25px;
    border: 0;
    position: relative;
}

hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    background:silver;
    height: 2px;
    top: 8px;
}
hr:before {
    left: 0;
    right: 55%;
    margin-right: 10px;
}
hr:after {
    right: 0;
    left: 55%;
    margin-left: 10px;
}

.card-img-bottom {
    overflow: hidden;
} 

section.content-block {
    margin: 30px 0;
}

section.content-block main {
    /* float: right;
    padding: 100px 60px;
    width: 40%; */
    background-color: #F2EDE7;
}
